@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    li {
        @apply block py-2 pr-4 pl-3 text-gray-700 rounded hover:bg-gray-100 md:hover:bg-transparent md:border-0 md:hover:text-blue-700 md:p-0 dark:text-gray-400 md:dark:hover:text-white dark:hover:bg-gray-700 dark:hover:text-white md:dark:hover:bg-transparent
    }

    button {
        @apply text-white border bg-indigo-600 border-indigo-600 hover:bg-transparent hover:text-indigo-600 rounded-md
    }
}

h1, 
h2, 
h3, 
h4 {
  color: #2886E7;
}

.App-BERT {
  text-align: center;
}


.App-header-BERT {
  min-height: 100vh;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  background-color: aliceblue;
}

.question {
  display: flex;
}

.answer-container {
  width: 680px;
  height: 40vh;
  margin-top: 5px;
  border: 1px solid black;
  padding: 10px;
  border-radius: 5px;
}

h1 {
  font-size: 2em;
}

h2 {
  font-size: 1em;
}

.answers {
  font-size: 0.6em;
  text-align: left;
}